<footer class="mt-auto text-white-50">
    <p>DYP made from <a href="https://getbootstrap.com/" class="text-white">Maggie</a>, by <a href="https://twitter.com/mdo" class="text-white">@reality_x</a>.</p>
  </footer>
</div>
</body>
</html>